body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.justify-content-center {
  border: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#logo {
  width: 150px;
  height: 40px;
  margin-left: 90px;
}
.bg-dark {
  background: #eb5757; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1f2022,
    #eb5757
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1f2022,
    #eb5757
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#play-btn {
  border-radius: 40px;
  font-size: 12px;
  width: 110px;
  background-color: Transparent;
  color: white;
  border-color: white;
  padding: 8px 15px 8px 15px;
}
#play-btn:hover {
  border-width: 2.5px;
  border-color: #eb5757;
  color: #eb5757;
}

#navbar {
  margin-top: 5px;
  margin-right: 22px;
  margin-left: 7px;
}

.bgphoto {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
